body{
	font-family: sans-serif;
    background-image: url('background.png');
}

#portrait{
	height: 15%;
	width: 15%;
	border-radius: 100%;
	margin: 1% 0 2% 7%;
    padding: 1%;
    border-top: 1px dashed #3A1549;
    border-bottom: 1px dashed #3A1549;
}

#bio{
    color: #3A1549;
    width: 50%;
    margin-bottom: 2%;
    margin: -20% 0 0 27%;
    font-size: 2vw;
    padding: 1% 0 1% 3%;
    border-left: 1px solid #3A1549;
    font-family: 'Roboto Slab', serif;
}

.about_chunk{
    color: #3A1549;
    width: 50%;
    margin-bottom: 2%;
    margin: 2% 0 2% 27%;
    font-size: 2vw;
    padding: 1% 0 1% 3%;
    border-left: 1px solid #3A1549;
    font-family: 'Roboto Slab', serif;
}

.project{
    height: 80%;
    width: 50%;
}

#telephone{
    border: 1px solid #ffc98b;
}

#project_body{
    background: #ffffff;
}

#cheer{
	margin-left: 50%;
    border: 1px solid #ff8b8b;
}

.description{
	height: 40%;
	width: 35%;
    font-size: 1.75vw;
    color: #ffffff;
}

#cheer_description{
    margin-top: -25%;
    margin-left: 7.5%;
    color: #ff8b8b;
    margin-bottom: 13%;
}

#cheer_description .actual_description{
    border-left: 1px solid #ff8b8b;
}

#cheer_description .name{
    background: #ff8b8b;
}

#telephone_description{
    margin-top: -25%;
    margin-left: 48.1%;
    
    padding-left: 5%;
    margin-bottom: 9%;
    color: #ffc98b;
}

#profiles_description{
    margin-top: -25%;
    margin-left: 48.1%;
    padding-left: 5%;
    margin-bottom: 6%;
    color: rgb(5, 94, 163);
}

#profiles_description .actual_description{
    border-left: 1px solid rgba(4, 91, 159, 0.76);
}

#profiles{
    border: 1px solid rgba(4, 91, 159, 0.76);
}

#profiles_description .name{
    background: rgba(4, 91, 159, 0.76);
}

.actual_description{
    border-left: 1px solid #ffc98b;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 2%;
}

.name{
    background: #ffc98b;
    padding: 2% 5% 2% 5%;
    width: 120%;
    margin-left: -8.5%;
    opacity: 0.75;
    color: #ffffff;
}

.home{
    display: block;
    text-align: center;
}

#home_header {
    padding: 1%;
    height: 65%;
    width: auto;
    border-radius: 100%;
}
.link{
    color: #3A1549;
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

#nav_bar a{
    margin: 6% 2% 0 2%;
}

#nav_bar {
    background-color: rgba(199, 199, 199, 0.7);
    height: 8%;
    margin: -1% 0 0 -2%;
    width: 105%;
    position: fixed;
}

a:hover{
    color: #ffb591;
}

a{
    text-decoration: none;
    color: #9a9a9b;
}

#home{
    padding: 25% 0 0 0;
}

.header{
    color: #3A1549;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3vw;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-bottom: 1px solid #3A1549;
    border-radius: 10%;
    width: 15%;
}

#about_header{
    margin-bottom: 0;
    margin-top: 1%;
}

.container{
    height: 100%;
    width: 100%;
}
