html, body, #mega-container {
        margin: 0 auto;
        height: 100%;
        font-family: ProximaNovaT-Thin;
        text-align: justify;
        text-justify: inter-word;
      }
      #landing {
        background-color: #800000;
        height: 100%;
      }
      .landing-logo {
        margin-top: 15%;
        margin-left: 35%;
        height: 44%;
        width: 30%;
        -webkit-animation: vis 4s 1;
        animation: vis 4s 1;
      }
      .header {
        font-size: 6em;
        color: white;
      }
      #landing .navbar {
        -webkit-animation: bordermove 3s 1;
        animation: bordermove 3s 1;
      }
      .navbar {
        width: 50%;
        height: 10%;
        background-color: rgba(255, 255, 255, 0.9);
        margin-left: 25%;
        border-radius: 5px;
        cursor: default;
        font-size: 1vw;
      }

      .nav-wrapper {
        padding-top: 5%;
      }

      .nav-wrapper .link {
        margin-left: 5%;
        margin-right: 5%;
      }

      h1 { font-family: 'ProximaNova-Semibold'; }
      h2 { font-family: 'ProximaNova-Semibold'; }
      h3 { font-family: 'ProximaNova-Regular'; }
      h4 { font-family: 'ProximaNova-Semibold'; }
      h5 { font-family: 'ProximaNova-Bold'; }


      #landing .link {
        -webkit-animation: vis 3s 1 forwards;
        -webkit-animation-delay: 2s;
        animation: vis 3s 1 forwards;
        animation-delay: 2s;
        opacity: 0;
      }
      .link {
        display: inline-block;
        margin-left: 5.75%;
        margin-right: 5.75%;
        margin-top: 1%;
      }

      a {
        text-decoration: none;
        color: black;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }

      a:hover {
        color: #767676;
        cursor: pointer;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }

      @-webkit-keyframes vis {
          from {opacity: 0;}
          to {opacity: 1;}
      }

      @keyframes vis {
          from {opacity: 0;}
          to {opacity: 1;}
      }

      @-webkit-keyframes bordermove {
          from {width: 0; margin-left: 50%}
          to {width: 50%; margin-left: 25%}
      }

      @keyframes bordermove {
        from {width: 0; margin-left: 50%}
        to {width: 50%; margin-left: 25%}
      }

      #about {
          height: 100%;
          background: url(Media/UCHomecomingCHEER2016_053.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      #roster {
        background-color: #800000;
        height: 200%;
      }

      #join {
          height: 100%;
          background: url(Media/group.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      #photos {
        background-color: #800000;
        height: 100%;
      }

      #donate {
          height: 100%;
          background: url(Media/UCHomecomingCHEER2016_072.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      #donate .content {
        font-size: 1.5vw;
      }

      .overlay {
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
      }

      .overlay a, .album-container a{
        color: #800000;
      }

      .overlay .link a {
        color: black;
      }

      .overlay .link a:hover {
        color: #767676;
        cursor: pointer;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }

      .overlay a:hover {
        color: #642822;
        cursor: pointer;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }

      .content {
        padding: 4% 15% 0 15%;
        height: 75%;
        font-size: 2.75vw;
      }

      #join .content {
        font-size: 2.5vw;
      }


      .entry-container {
        position: relative;
        height: 375px;
        width: 250px;
        background-size: contain;
      }

      #roster {
        height: 350%;
      }

      #roster img {
        width: 100%;
      }

      .roster-info, .roster-info-nm {
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          width: 100%;
          height: 100%;
          transition: opacity 0.5s;
          opacity: 1;
          z-index: 200;
          font-size: 18px;
          top: 0;
          left: 0;
          color: white;
          text-align: left;
          text-justify: none;
      }


      .roster-info-text {
        margin-left: 3%;
      }

      .entry-container:hover .roster-info {
        opacity: 0;
      }

      #photos {
        height: 150%;
      }

      .album-info {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        width:100%;
        height: 100%;
        color: white;
        text-align: center;
        opacity: 1;
        z-index: 200;
        top: 0;
        left: 0;
        transition: background 0.5s;
      }

      .album-info:hover {
        background: rgba(0, 0, 0, 0.3);
        transition: background 0.5s;
      }

      .album-info-text {
        width: 75%;
        margin: auto;
        padding: 20% 0;
        font-size: 2vw;
      }

      .album-container {
        position: relative;
        height: 300px;
        width: 450px;
        background-size: contain;
      }

      #photos table {
        margin: auto;
        width: 100%;
      }

      #photos td {
        display: inline-block;
        margin: 2%;
      }

     /* #photos td:nth-child(1) {
        margin-left: 0;
      }

      #photos td:nth-child(2) {
        margin-right: 0;
      }*/

      b {
        font-family: 'ProximaNova-SemiBold';
      }

      #footer {
        background-color: #800000; 
        text-align: center;
        padding: 1%;
        font-size: 0.5vw;
        color: white;
      }

/* Mobile CSS */

@media only screen and (max-width: 480px) {
    body {
        background-image: none;
        background-color: gray;
    }
    
    .navbar{
        float: none;
        position: initial;
        width: 100%;
/*        height: %;*/
        margin: 0 0 2% 0;
        background-color: gray;
        display: block;
    }
    
    .container-nav{
        padding: 5% 1% 3% 1%;
        display: inline;
        font-size: 4vw;
    }
    
    .container-nav:hover{
        background-color: gray;
    }
    
    .main {
        margin: 0 0 0 -2%;
        width: 92%;
        height: 92%;
        font-size: 5vw;
    }
    #myCarousel {
        display: none;
    }
    .mobile-item {
        display: block;
        margin: auto;
        padding: 2%;
    }
    .horizontal {
        width: 90%;
        height: auto;
    }
    .vertical {
        width: 90%;
        height: auto;
    }
    .copyright {
              font-size: 2vw;
              width: 50%;
              margin: auto;
              margin-left: 8%;
              margin-top: -15%;
              padding-bottom: 10%;
          }
    #main-roster {
        font-size: 3vw;
    }
    .portrait img{
    height: auto;
    width: 80%;
    position: relative;
    }
    .portrait{
	padding: 3% 0 7% 0;
	margin: 3% 25% 6% 25%;
	text-align: center;
	color: maroon;
    width: auto;
    height: auto;
    }
    h1{
        font-size: 10vw;
    }

}